@inherits LayoutComponentBase

<PageTitle>4976Project</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer class="footer">
        <!-- Add your footer content here -->
        A01265647 - Ellen Jung, A01181611 - Siwoon Lim, A01304056 - Taylor Ji
    </footer>
</div>
